.admin h1{
    text-align: center;
    margin-bottom: 2rem;
}

.actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.edit_btn, .delete_btn{
    font-size: 1.1rem;
    border-radius: 2rem;
}

.edit_btn{
    background-color: aqua;
    color: #eee;
}
.delete_btn{
    background-color: red;
    color: #eee;
}