/* Estilos para o cabeçalho */
.home{
        background-color: #fbc114d7;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17rem;
    height: 400px;
    border-radius: 150rem;
    background-color: #c5000060;
    padding: 0 7rem;
}
  .home h2 {

    color: rgb(255, 255, 255);
    padding: 0 10rem;
    text-align: center;

    border-radius: 10px;
    font-size: 35px;
    font-style: italic;
  }
.btns{
    color: #fff;
    font-size: 30px;
    padding: 0 2rem;
    background-color: #fbc314;
    border-radius: 2rem;
}
  
  .home p {
    text-align: center;
    font-size: 1.2rem;
    color: #eee7e7;
    margin-bottom: 1rem;
  }
/* Estilos para o campo de entrada */
.input{
    display: flex;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 0.7rem;
    margin-top: 2rem;
    }

  .img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 40rem;
    margin-left: 30px;
  }
  
  /* Estilos para os contêineres de memórias */
  .memories_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 5rem;
  }
  
  .memory {
    flex: 1 1 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.10rem;
    background-color: #9c9a9a67;
    padding: 1rem;
    border-radius: 10px;
  }

  
  /* Estilos para as imagens das memórias */
  .memory img {
    max-width: 100%;
    height: auto;
    /* para não ficar distorcida */
    object-fit: cover;
    border-radius: 10px;
    /* centralizar a imagem */
    margin: auto;
  }
  
  /* Estilos para os botões */
  .btn {
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
  }

  .favorite {
    background-color: rgb(202, 94, 6); /* Altere para a cor desejada */
  }
  .favorite-memory {
    background-color:#d8161644; /* Altere para a cor desejada */
  }
  

  